:root {
    /* Colors */
    --clr-primary: #091124;
    --clr-secondary: #ffb319;
    --clr-brown-200: #E0C2A7;
    --clr-brown-100: #F3ECE6;
    --clr-white: #FFFFFF;
    /* Fonts */
    --ff-robotto: "Poppins", sans-serif;
    --ff-cairo: "Cairo", sans-serif;
    --fs-500: 40px;
    --fs-400: 24px;
    --fs-300: 21px;
    --fs-200: 16px;
    /* Sizes */
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-650: 2.25rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
    --fs-body: var(--fs-200);
    /* Font Weight */
    --fw-light: 400;
    --fw-regular: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#root main{
    flex-grow: 1;
}
/* Font Family */
.ff-robotto {
    font-family: var(--ff-robotto);
}

.ff-robotto {
    font-family: var(--ff-cairo);
}
body.english, body.french {
    font-family: var(--ff-robotto);
  }
  
  body.arabic {
    font-family:var(--ff-cairo);
  }
/* Font Weights */
.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/* Text Colors */
.text-primary {
    color: #107A7E;
}

.text-secondary {
    color: var(--clr-secondary);
}

.text-brown-100 {
    color: var(--clr-brown-100);
}

.text-brown-200 {
    color: var(--clr-brown-200);
}

.text-white {
    color: var(--clr-white);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-brown-100 {
    background-color: var(--clr-brown-100);
}
.bg-brown-200 {
    background-color: var(--clr-brown-200);
}

.bg-white {
    background-color: #FFFFFF;
}
.bg-red{
    background-color: red;
}
/* Font Sizes */
.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}


/* Andy Bell Reset*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font: inherit;
    font-family: var(--ff-robotto);
    font-size: var(--fs-200);
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utility Classes */

.even-columns {
    display: grid;
    gap: 1rem;
    grid-auto-flow: initial;
}

@media(min-width:45rem) {
    .even-columns {
        grid-auto-flow: column;
    }
}

.container {
    --max-width: 1140px;
    --padding: 1.25rem;
    width: min(var(--max-width), 100% - var(--padding) *2);
    margin-inline: auto;
}

.padding-block-800 {
    padding-block: var(--size-700);
}

.padding-block-650 {
    padding-block: var(--size-650);
}

.primary-heading {
    font-size: var(--size-500);
}
.bg-transparent{
    background-color: transparent;
}

.w-full {
    width: 100%;
}

.w-fit-content {
    width: fit-content;
}
.t-center{
    text-align: center;
}
.d-none{
    display: none;
}


.p-absolute {
    position: absolute;
}

.uppercase {
    text-transform: uppercase;
}



.p-relative {
    position: relative;
}

.grid {
    display: grid;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-5 {
    padding-left: 3rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-4 {
    padding-right: 1.5rem;
}

.pr-5 {
    padding-right: 3rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}
.m-v-auto{
    margin-left: auto;
    margin-right: auto;
}
.m-auto{
    margin: auto;
}
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.ml-5 {
    margin-left: 3rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin: 3rem;
}

.circle {
    border-radius: 50%;
}
.rounded{
    border-radius: 20px;
}
.pill-corners {
    border-radius: 100vh;
}
.border-none{
    border: none;
}
.btn {
    background-color: transparent;
    border: none;
}

/* Gap Utilities in REM */
.gap-0 {
    gap: 0;
}

.gap-0-25 {
    gap: 0.25rem;
}

.gap-0-5 {
    gap: 0.5rem;
}

.gap-0-75 {
    gap: 0.75rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1-25 {
    gap: 1.25rem;
}

.gap-1-5 {
    gap: 1.5rem;
}

.overflow-v {
    overflow: visible;
}


.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}
@media (min-width:60em) {
    .lg-d-none {
        display: none !important;
    }
}
@media (max-width:60em) {
    .sm-d-none{
    display: none;
}
}

/* Flex Direction Utilities */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap Utilities */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* Justify Content Utilities */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* Align Items Utilities */
.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

/* Align Content Utilities */
.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-stretch {
    align-content: stretch;
}

.f-column {
    flex-direction: column;
}

/* Imported End */